.phone-columns {
  margin-top: 40px;
  background: #004a8d;
  margin-bottom: 100px;
  height: 450px;
}

.card {
  height: 400px;
  color: black;
  text-align: left;
  padding: 10px;
  padding-left: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.images-content img {
  width: 300px;
}

.card img {
  margin-top: 25px;
  height: 80%;
}

.card h2 {
    margin-top: 15px;
}
