.createPostPage {
  text-align: center;
  margin-top: 100px;
  padding: 50px;
  background: #004a8d;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 15px;
}

.createPostPage h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.name-label {
  font-size: 30px;
  text-align: left;
  margin-left: 10px;
}

.inputGp {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  flex-direction: column;
  float: left;
  width: 100%;
}

input {
  height: 100px;
  margin-left: 10px;
  text-align: center;
  font-size: 15px;
  width: 100%;
}

textarea {
  height: 100px;
  width: 193px;
  margin-left: 10px;
  text-align: center;
  font-size: 15px;
  width: 100%;
}

.button-reg {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 10px;
  border: 0px;
}

.images-file input {
  height: 30px;
}

.name-label {
  text-align: left;
  width: 100%;
}

.button-input-images {
  display: flex;
  flex-direction: column;
}

.button-input-images button {
  border: none;
  margin-top: 10px;
}

.button {
  display: flex;
  flex-direction: column;
}

.button button {
  border: none;
  margin-top: 20px;
  margin-left: 12px;
}

.button input {
  border: none;
}
