.all-according {
  background: #004a8d;
  color: white;
  padding: 30px;
  margin-top: 40px;
  width: 100%;
}

.all-according h1 {
  margin-bottom: 30px;
}

.accord {
  margin-bottom: 30px;
  margin-top: 20px;
  width: 60%;
}

.accord button {
  border-radius: 10px;
}

@media (max-width: 992px) {
  .accord {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .accord {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .accord {
    width: 90%;
  }
}
